<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>
</header>